{% extends 'base.html' %}
{% load static %}

{% block title %}
    FM | Delete Subscription
{% endblock title %}

{% block body %}
    <div class="text-center">
        <div>
            <h1>Delete Subscription</h1>
            <hr>
        </div>
    </div>
    <div>
        Are you sure you want to delete {{ subscription }}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Delete">
        </form>
        <a href="{% url 'subscriptions:detail' pk=subscription.pk %}">Cancel</a>
    </div>
{% endblock body %}
