{% extends 'base.html' %}
{% load static %}

{% block title %}
    FM | Delete Subscription
{% endblock title %}

{% block content-title %}
    Delete Subscription: <strong>{{ subscription }}</strong>
{% endblock content-title %}

{% block content %}
    Are you sure you want to delete subscription: {{ subscription }}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Delete">
        <a href="{% url 'subscriptions:detail' pk=subscription.pk %}">Cancel</a>
    </form>
{% endblock content %}
