{% extends 'base.html' %}
{% load static %}

{% block title %}
    FM | Subscription details
{% endblock title %}

{% block content-title %}
    Subscription: <strong>{{ subscription }}</strong>
{% endblock content-title %}

{% block content %}
    <div class="text-center">
        <a href="{% url 'subscriptions:update' pk=subscription.pk %}">Update</a> |
        <a href="{% url 'subscriptions:delete' pk=subscription.pk %}">Delete</a>
        <br>
    </div>

    <div>
        <p><strong>Project:</strong> {{ subscription.project }}</p>
        <p><strong>Website:</strong> {{ subscription.website }}</p>
        <p><strong>Created Date:</strong> {{ subscription.date_created }}</p>
        <p><strong>Renewal Date:</strong> {{ subscription.date_renewal }}</p>
        <p><strong>Notes:</strong> {{ subscription.notes|default:"-" }}</p>
    </div>
{% endblock content %}
