{% extends 'base.html' %}
{% load static %}

{% block title %}
    FM | Subscription details
{% endblock title %}

{% block body %}
    <div class="text-center">
        <div>
            <h1>Subscription detail page</h1>
            <hr>
        </div>
        <h2>{{ subscription }}</h2>
        <a href="{% url 'subscriptions:update' pk=subscription.pk %}">Update</a> |
        <a href="{% url 'subscriptions:delete' pk=subscription.pk %}">Delete</a>
        <br>
    </div>

    <div>
        <p><strong>Project:</strong> {{ subscription.project }}</p>
        <p><strong>Website:</strong> {{ subscription.website }}</p>
        <p><strong>Created Date:</strong> {{ subscription.date_created }}</p>
        <p><strong>Renewal Date:</strong> {{ subscription.date_renewal }}</p>
        <p><strong>Notes:</strong> {{ subscription.notes|default:"-" }}</p>
    </div>
{% endblock body %}
