{% extends 'base.html' %}
{% load static %}

{% block title %}
    FM | Update Subscription
{% endblock title %}

{% block content-title %}
    Update Subscription: <strong>{{ subscription }}</strong>
{% endblock content-title %}

{% block content %}
    <div class="text-center">
        <p style="color: red">To Do: Remove options for project and website</p>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Update">
            <a href="{% url 'subscriptions:detail' pk=subscription.pk %}">Cancel</a>
        </form>
    </div>
{% endblock content %}
