# local settings
src/manager/settings/local.py
local.py
local.*

db.sqlite3
env/


# editors settings
.idea/
.vscode/


# jupyter notebooks
jupyter_notebooks/


# celery beat schedule file
celerybeat-schedule


# python files
__pycache__/
*.pyc
*.key
*.py[cod]

