{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/warning-top.css' %}">
{% endblock %}

{% block content-top %}
    {% include 'snippets/warning-top.html' %}
{% endblock content-top %}

{% block title %}
    FM | Home
{% endblock title %}

{% block body-top %}
    {% include 'snippets/warning-top.html' %}
{% endblock body-top %}

{% block content-title %}
    Dashboard
{% endblock content-title %}

{% block content %}
    <div class="row mt-2 mb-2 custom-link">
        <div class="col-md-2"><a href="{% url 'customers:list' %}">Customers</a></div>
        <div class="col-md-2"><span class="badge">{{ customers.count }}</span></div>
    </div>
    <div class="row mb-2 custom-link">
        <div class="col-md-2"><a href="{% url 'projects:list' %}">Projects</a></div>
        <div class="col-md-2"><span class="badge">{{ projects.count }}</span></div>
    </div>
    <div class="row mb-2 custom-link">
        <div class="col-md-2"><a href="{% url 'subscriptions:list' %}">Subscriptions</a></div>
        <div class="col-md-2"><span class="badge">{{ subscriptions.count }}</span></div>
    </div>
    <div class="row mb-2 custom-link">
        <div class="col-md-2"><a href="{% url 'passwords:list' %}">Passwords</a></div>
        <div class="col-md-2"><span class="badge">{{ passwords.count }}</span></div>
    </div>
    <div class="row mb-2 custom-link">
        <div class="col-md-2"><a href="{% url 'websites:list' %}">Websites</a></div>
        <div class="col-md-2"><span class="badge">{{ websites.count }}</span></div>
    </div>
{% endblock content %}

{% block content-bottom %}{% endblock content-bottom %}