{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/warning-top.css' %}">
{% endblock %}

{% block content-top %}
    {% include 'snippets/warning-top.html' %}
{% endblock content-top %}

{% block title %}
    FM | Home
{% endblock title %}

{% block body-top %}
    {% include 'snippets/warning-top.html' %}
{% endblock body-top %}

{% block content-title %}
    Dashboard
{% endblock content-title %}

{% block content %}
    <div>
        <p><a href="{% url 'customers:list' %}">Customers: {{ customers.count }}</a></p>
        <p><a href="{% url 'projects:list' %}">Projects: {{ projects.count }}</a></p>
        <p><a href="{% url 'subscriptions:list' %}">Subscriptions: {{ subscriptions.count }}</a></p>
        <p><a href="{% url 'passwords:list' %}">Passwords: {{ passwords.count }}</a></p>
        <p><a href="{% url 'websites:list' %}">Websites: {{ websites.count }}</a></p>
    </div>
{% endblock content %}
