{% extends 'base.html' %}
{% load static %}

{% block title %}
    Freelance Manager
{% endblock title %}

{% block body %}
    <div class="text-center">
        <div class="jumbotron mt-5">
            <h1>Freelance Manager</h1>
            <h5>
                A way to manage your
                <br>projects, customers, subscriptions, websites and passwords
                <br>...all in one place.
            </h5>
        </div>

        <div class="jumbotron">
            <h2>Website is under construction</h2>
            <p>
                All the modifications will be deleted,
                <br>the account will be used by multiple users,
                <br>so <strong>DON'T</strong> use real data.
            </p>

            <p>
                {% if user.is_authenticated %}
                    <a href="{% url 'home' %}">Home</a>
                {% else %}
                    To test it or have some fun please
                    <a href="{% url 'login' %}">Login</a>
                    <br>A user and password will be provided on Login Page.
                {% endif %}
            </p>
        </div>
    </div>
{% endblock body %}
