{% extends 'base.html' %}
{% load static %}

{% block title %}
    FM | Delete Project
{% endblock title %}

{% block body %}
    <div class="text-center">
        <div>
            <h1>Delete Project Page</h1>
            <h4 style="color: red">Not finished</h4>
            <hr>
        </div>
    </div>
    <div>
        <strong>Are you sure you want to delete {{ project }}?</strong>
        <br>This action will delete all subscriptions and passwords connected to this project!
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Delete">
        </form>
    </div>
{% endblock body %}
