{% extends 'base.html' %}
{% load static %}

{% block title %}
    FM | Delete Project
{% endblock title %}

{% block content-title %}
    Delete Project: <strong>{{ project }}</strong>
{% endblock content-title %}

{% block content %}
    <p><strong>Are you sure you want to delete {{ project }}?</strong></p>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Delete">
        <a href="{% url 'projects:detail' pk=project.pk %}">Cancel</a>
    </form>
    <hr>
    <p>This project has {{ project.subscription_set.count }} subscriptions and {{ project.password_set.count }} passwords.</p>
    {% if project.subscription_set.count %}
        <p>
            <strong>Subscriptions:</strong>
            <ul>
                {% for subscription in project.subscription_set.all %}
                    <li><a href="{% url 'subscriptions:detail' pk=subscription.pk %}">{{ subscription.website }}</a></li>
                {% endfor %}
            </ul>
        </p>
    {% endif %}

    {% if project.password_set.count %}
        <p>
            <strong>Passwords:</strong>
            <ul>
                {% for password in project.password_set.all %}
                    <li><a href="{% url 'passwords:detail' pk=password.pk %}">{{ password.website }}</a></li>
                {% endfor %}
            </ul>
        </p>
    {% endif %}

    {% if project.subscription_set.count or project.password_set.count %}
        <p>This action will delete all subscriptions and passwords connected to this project!
            <br><strong>This action is irreversible.</strong></p>
    {% endif %}
{% endblock content %}
