{% extends 'base.html' %}
{% load static %}

{% block title %}
    FM | Project details
{% endblock title %}

{% block content-title %}
    Project: <strong>{{ project }}</strong>
{% endblock content-title %}

{% block content %}
    <div class="row mb-2">
        <!-- General data -->
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <strong>Project:</strong>
                </div>
                <div class="col-md-7">
                    {{ project.name }}
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-4">
                    <strong>Customer:</strong>
                </div>
                <div class="col-md-7">
                    <div class="custom-link">
                        <a href="{% url 'customers:detail' pk=project.customer.pk %}">{{ project.customer }}</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <strong>Notes:</strong>
                </div>
                <div class="col-md-7">
                    {{ project.notes|default:"-" }}
                </div>
            </div>
        </div>

        <!-- Subscriptions -->
        <div class="col-md-3 text-center">
            <strong>Subscriptions:</strong>
            {% for subscription in project.subscription_set.all %}
                <div class="custom-link">
                    <a href="{% url 'subscriptions:detail' pk=subscription.pk %}">{{ subscription.website }}</a>
                </div>
            {% endfor %}
        </div>

        <!-- Passwords -->
        <div class="col-md-3 text-center">
            <strong>Passwords:</strong>
            {% for password in project.password_set.all %}
                <div class="custom-link">
                    <a href="{% url 'passwords:detail' pk=password.pk %}">{{ password.website }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}

{% block content-bottom %}
    <div class="col-md-6">
        <a class="btn btn-sm btn-success" href="{% url 'projects:update' pk=project.pk %}">Edit</a>
        <a class="btn btn-sm btn-danger" href="{% url 'projects:delete' pk=project.pk %}">Delete</a>
        <button class="btn btn-sm btn-secondary" onClick="javascript:history.go(-1);">Back</button>
    </div>
    <div class="col-md-6 text-right">
        <a class="btn btn-sm btn-success" href="{% url 'subscriptions:create' %}">New Subscription</a>
        <a class="btn btn-sm btn-success" href="{% url 'passwords:create' %}">New Password</a>
    </div>
{% endblock content-bottom %}