{% extends 'base.html' %}
{% load static %}

{% block title %}
    FM | Project details
{% endblock title %}

{% block body %}
    <div class="text-center">
        <div>
            <h1>Project detail page</h1>
            <hr>
        </div>
        <h2>{{ project }}</h2>
        <a href="{% url 'projects:update' pk=project.pk %}">Update</a> |
        <a href="{% url 'projects:delete' pk=project.pk %}">Delete</a>
        <br>
    </div>

    <div>
        <p><strong>Name:</strong> {{ project.name }}</p>
        <p><strong>Customer:</strong> {{ project.customer.name }}</p>
        <p><strong>Notes:</strong> {{ project.notes|default:"-" }}</p>
        <br>
        <p>
            <strong>Subscriptions:</strong>
            <ul>
                {% for subscription in project.subscription_set.all %}
                    <li><a href="{% url 'subscriptions:detail' pk=subscription.pk %}">{{ subscription.website }}</a></li>
                {% endfor %}
            </ul>
        </p>
        <br>
        <p>
            <strong>Passwords:</strong>
            <ul>
                {% for password in project.password_set.all %}
                    <li><a href="{% url 'passwords:detail' pk=password.pk %}">{{ password.website }}</a></li>
                {% endfor %}
            </ul>
        </p>

    </div>
{% endblock body %}
