{% extends 'base.html' %}
{% load static %}

{% block title %}
    FM | Projects
{% endblock title %}

{% block content-title %}
    Projects
{% endblock content-title %}

{% block content %}
    {% if project_list %}
        <div class="row mt-2 custom-link">
            <div class="col-md-3"><strong>Project</strong></div>
            <div class="col-md-3"><strong>Customer</strong></div>
            <div class="col-md-2 text-center"><strong>Subscriptions</strong></div>
            <div class="col-md-2 text-center"><strong>Passwords</strong></div>
        </div>
        {% for project in object_list %}
            <div class="row mt-2 custom-link">
                <div class="col-md-3"><a href="{% url 'projects:detail' pk=project.pk %}">{{ project }}</a></div>
                <div class="col-md-3">{{ project.customer }}</div>
                <div class="col-md-2 text-center"><span class="badge">{{ project.subscription_set.count }}</span></div>
                <div class="col-md-2 text-center"><span class="badge">{{ project.password_set.count }}</span></div>
            </div>
        {% endfor %}
    {% else %}
        <div class="row mt-2">
            <div class="col-md-4">There are no projects.</div>
        </div>
        <div class="row mt-2 custom-link">
            <div class="col-md-4"><a href="{% url 'projects:create' %}">Add Project</a></div>
        </div>
    {% endif %}
{% endblock content %}
