{% extends 'base.html' %}
{% load static %}

{% block title %}
    FM | Update Project
{% endblock title %}

{% block content-title %}
    Update Project: <strong>{{ project }}</strong>
{% endblock content-title %}

{% block content %}
    <div class="text-center">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Update">
            <a href="{% url 'projects:detail' pk=project.pk %}">Cancel</a>
        </form>
    </div>
{% endblock content %}
