{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block title %}
    FM | Login
{% endblock %}

{% block body %}
    <div class="container offset-md-4 col-md-4 text-center">
        <h2 class="title">Please login</h2>
        <div class="content">
            User: manager
            <br>Password: freelance
            <hr>
            <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
        </div>
    </div>
{% endblock body %}