{% extends 'base.html' %}
{% load static %}

{% block title %}
    FM | Delete Website
{% endblock title %}

{% block content-title %}
    Delete Website: <strong>{{ website }}</strong>
{% endblock content-title %}

{% block content %}
    <p><strong>Are you sure you want to delete website: {{ website }}?</strong></p>
    <form id="form" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
    </form>
    <hr>
    {% if website.subscription_set.count or website.password_set.count%}
        <p>This website is related to <strong>{{ website.subscription_set.count }}</strong>
            {% if website.subscription_set.count == 1 %}
                subscription
            {% else %}
                subscriptions
            {% endif %} and <strong>{{ website.password_set.count }}</strong>
            {% if website.password_set.count == 1 %}
                password.
            {% else %}
                passwords.
            {% endif %}</p>

        {% if website.subscription_set.count %}
            <p>
                <strong>Subscriptions:</strong>
                <ul>
                    {% for subscription in website.subscription_set.all %}
                        <li class="custom-link"><a href="{% url 'subscriptions:detail' pk=subscription.pk %}">{{ subscription }}</a></li>
                    {% endfor %}
                </ul>
            </p>
        {% endif %}

        {% if website.password_set.count %}
            <p>
                <strong>Passwords:</strong>
                <ul>
                    {% for password in website.password_set.all %}
                        <li class="custom-link"><a href="{% url 'passwords:detail' pk=password.pk %}">{{ password }}</a></li>
                    {% endfor %}
                </ul>
            </p>
        {% endif %}

        <p>This action will delete all subscriptions and passwords connected to this website!
            <br><strong>This action is irreversible.</strong></p>
    {% else %}
        <p>No subscriptions or passwords are related to this website.</p>
    {% endif %}
{% endblock content %}

{% block content-bottom %}
    <div class="col-md-8">
        <input class="btn btn-sm btn-danger" type="submit" form="form" value="Delete">
        <button class="btn btn-sm btn-secondary" onClick="javascript:history.go(-1);">Cancel</button>
    </div>
{% endblock content-bottom %}
