{% extends 'base.html' %}
{% load static %}

{% block title %}
    FM | Website details
{% endblock title %}

{% block content-title %}
    Website: <strong>{{ website }}</strong>
{% endblock content-title %}

{% block content %}
    <div class="text-center">
        <a href="{% url 'websites:update' pk=website.pk %}">Update</a> |
        <a href="{% url 'websites:delete' pk=website.pk %}">Delete</a>
        <br>
    </div>

    <div>
        <p><strong>Name:</strong> {{ website.name }}</p>
        <p><strong>URL:</strong> {{ website.url }}</p>
    </div>
{% endblock content %}
