{% extends 'base.html' %}
{% load static %}

{% block title %}
    FM | Website details
{% endblock title %}

{% block body %}
    <div class="text-center">
        <div>
            <h1>Website detail page</h1>
            <hr>
        </div>
        <h2>{{ website }}</h2>
        <a href="{% url 'websites:update' pk=website.pk %}">Update</a> |
        <a href="{% url 'websites:delete' pk=website.pk %}">Delete</a>
        <br>
    </div>

    <div>
        <p><strong>Name:</strong> {{ website.name }}</p>
        <p><strong>URL:</strong> {{ website.url }}</p>
    </div>
{% endblock body %}
