{% extends 'base.html' %}
{% load static %}

{% block title %}
    FM | Websites
{% endblock title %}

{% block content-title %}
    Websites
{% endblock content-title %}

{% block content %}
    <div class="row mb-2 mt-2">
        <div class="col-md-2"><strong>Name</strong></div>
        <div class="col-md-4"><strong>URL</strong></div>
    </div>
    {% for website in object_list %}
        <div class="row">
            <div class="col-md-2">
                {{ website.name }}
            </div>
            <div class="col-md-4">
                {{ website.url }}
            </div>
            <div class="col-md-4 mb-1">
                <a class="btn btn-sm btn-success" href="{% url 'websites:update' pk=website.pk %}">Edit</a>
                <a class="btn btn-sm btn-danger" href="{% url 'websites:delete' pk=website.pk %}">Delete</a>
            </div>
        </div>
    {% endfor %}
{% endblock content %}

{% block content-bottom %}{% endblock content-bottom %}