{% extends 'base.html' %}
{% load static %}

{% block title %}
    FM | Websites
{% endblock title %}

{% block content-title %}
    Websites
{% endblock content-title %}

{% block content %}
    {% if website_list %}
        <div class="row mb-2 mt-2">
            <div class="col-md-2"><strong>Name</strong></div>
            <div class="col-md-4"><strong>URL</strong></div>
        </div>
        {% for website in object_list %}
            <div class="row mb-1">
                <div class="col-md-2">
                    {{ website.name }}
                </div>
                <div class="col-md-4">
                    {{ website.url }}
                </div>
                <div class="col-md-4">
                    <a class="btn btn-sm btn-success" href="{% url 'websites:update' pk=website.pk %}">Edit</a>
                    <a class="btn btn-sm btn-danger" href="{% url 'websites:delete' pk=website.pk %}">Delete</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="row mt-2">
            <div class="col-md-4">There are no websites.</div>
        </div>
        <div class="row mt-2 custom-link">
            <div class="col-md-4"><a href="{% url 'websites:create' %}">Add Website</a></div>
        </div>
    {% endif %}

{% endblock content %}

{% block content-bottom %}
    <div class="col-md-8">
        <a class="btn btn-sm btn-secondary" href="{% url 'home' %}">Home</a>
    </div>
{% endblock content-bottom %}
