{% extends 'base.html' %}
{% load static %}

{% block title %}
    FM | Websites
{% endblock title %}

{% block body %}
    <div class="text-center">
        <div>
            <h1>Websites page</h1>
            <h4 style="color: red">Not finished</h4>
            <hr>
        </div>
    </div>

    <div>
        <table>
            <tr>
                <th style="padding-right: 75px">Name</th>
                <th>URL</th>
            </tr>
            {% for website in object_list %}
                <tr>
                    <td><a href="{% url 'websites:detail' pk=website.pk %}">{{ website.name }}</a></td>
                    <td>{{ website.url }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock body %}
