{% extends 'base.html' %}
{% load static %}

{% block title %}
    FM | Update Website
{% endblock title %}

{% block content-title %}
    Update Website: <strong>{{ website }}</strong>
{% endblock content-title %}

{% block content %}
    <div class="text-center">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Update">
            <a href="{% url 'websites:detail' pk=website.pk %}">Cancel</a>
        </form>
    </div>
{% endblock content %}
