{% extends 'base.html' %}
{% load static %}

{% block title %}
    FM | Delete Password
{% endblock title %}

{% block content-title %}
    Delete Password: <strong>{{ password.project }} - {{ password.website }}</strong>
{% endblock content-title %}

{% block content %}
    Are you sure you want to delete password: {{ password }}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Delete">
        <a href="{% url 'passwords:detail' pk=password.pk %}">Cancel</a>
    </form>
{% endblock content %}
