{% extends 'base.html' %}
{% load static %}

{% block title %}
    FM | Delete Password
{% endblock title %}

{% block content-title %}
    Delete Password: <strong>{{ password.project }} - {{ password.website }}</strong>
{% endblock content-title %}

{% block content %}
    <p><strong>Are you sure you want to delete password: {{ password }}?</strong></p>
    <form id="form" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
    </form>
{% endblock content %}

{% block content-bottom %}
    <div class="col-md-8">
        <input class="btn btn-sm btn-danger" type="submit" form="form" value="Delete">
        <button class="btn btn-sm btn-secondary" onClick="javascript:history.go(-1);">Cancel</button>
    </div>
{% endblock content-bottom %}
