{% extends 'base.html' %}
{% load static %}

{% block title %}
    FM | Password details
{% endblock title %}

{% block body %}
    <div class="text-center">
        <div>
            <h1>Password detail page</h1>
            <hr>
        </div>
        <h2>{{ website }}</h2>
        <a href="{% url 'passwords:update' pk=password.pk %}">Update</a> |
        <a href="{% url 'passwords:delete' pk=password.pk %}">Delete</a>
        <br>
    </div>

    <div>
        <p><strong>Project:</strong> {{ password.project }}</p>
        <p><strong>Website:</strong> {{ password.website }}</p>
        <p><strong>Username:</strong> {{ password.username }}</p>
        <p><strong>Password:</strong> {{ password.password }}</p>
        <p><strong>Notes:</strong> {{ password.notes|default:"-" }}</p>
    </div>
{% endblock body %}
