{% extends 'base.html' %}
{% load static %}

{% block title %}
    FM | Password details
{% endblock title %}

{% block content-title %}
    Password: <strong>{{ password.project }} - {{ password.website }}</strong>
{% endblock content-title %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="row mb-2">
                <div class="col-md-4"><strong>Project</strong></div>
                <div class="col-md-8">
                    {{ password.project|default:"-" }}
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-4"><strong>Website</strong></div>
                <div class="col-md-8">
                    {{ password.website|default:"-" }}
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-md-4"><strong>Username</strong></div>
                <div class="col-md-8">
                    {{ password.username|default:"-" }}
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-4"><strong>Password</strong></div>
                <div class="col-md-8">
                    {{ password.password|default:"-" }}
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-md-4"><strong>Notes</strong></div>
                <div class="col-md-8">
                    {{ password.notes|default:"-" }}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block content-bottom %}
    <div class="col-md-8">
        <a class="btn btn-sm btn-success" href="{% url 'passwords:update' pk=password.pk %}">Edit</a>
        <a class="btn btn-sm btn-danger" href="{% url 'passwords:delete' pk=password.pk %}">Delete</a>
        <button class="btn btn-sm btn-secondary" onClick="javascript:history.go(-1);">Back</button>
    </div>
{% endblock content-bottom %}