{% extends 'base.html' %}
{% load static %}

{% block title %}
    FM | Update Password
{% endblock title %}

{% block body %}
    <div class="text-center">
        <div>
            <h1>Password Update Page</h1>
            <hr>
        </div>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Update">
        </form>
        <a href="{% url 'passwords:detail' pk=password.pk %}">Cancel</a>
    </div>
{% endblock body %}
