{% extends 'base.html' %}
{% load static %}

{% block title %}
    FM | Update Password
{% endblock title %}

{% block content-title %}
    Update Password: <strong>{{ password.project }} - {{ password.website }}</strong>
{% endblock content-title %}

{% block content %}
    <form id="form" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <div class="row mb-2">
                    <div class="col-md-4"><strong>Project</strong></div>
                    <div class="col-md-8">
                        {{ password.project|default:"-" }}
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-md-4"><strong>Website</strong></div>
                    <div class="col-md-8">
                        {{ password.website|default:"-" }}
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-md-4"><strong>Username</strong></div>
                    <div class="col-md-8">
                        {{ form.username }}
                        {% if form.username.errors %}
                            <small class="text-danger ml-2">{{ form.username.errors|striptags }}</small>
                        {% endif %}
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-md-4"><strong>Password</strong></div>
                    <div class="col-md-8">
                        {{ form.password }}
                        {% if form.password.errors %}
                            <small class="text-danger ml-2">{{ form.password.errors|striptags }}</small>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row mb-2">
                    <div class="col-md-2"><strong>Notes</strong></div>
                    <div class="col-md-10">
                        {{ form.notes }}
                        {% if form.notes.errors %}
                            <small class="text-danger ml-2">{{ form.notes.errors|striptags }}</small>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}

{% block content-bottom %}
    <div class="col-md-8">
        <input class="btn btn-sm btn-success" type="submit" form="form" value="Save">
        <button class="btn btn-sm btn-secondary" onClick="javascript:history.go(-1);">Back</button>
    </div>
{% endblock content-bottom %}