{% extends 'base.html' %}
{% load static %}

{% block title %}
    FM | Delete Customer
{% endblock title %}

{% block body %}
    <div class="text-center">
        <div>
            <h1>Delete Customer</h1>
            <hr>
        </div>
    </div>
    <div>
        <p>This customer has {{ customer.project_set.count }} projects.</p>
        <ul>
            {% for project in customer.project_set.all %}
                <li><a href="{% url 'projects:detail' pk=project.pk %}">{{ project }}</a></li>
            {% endfor %}

        </ul>
        {% if customer.project_set.count %}
            <p>This action will delete all projects, subscriptions and passwords connected to this user!
                <br>This action is irreversible.</p>
        {% endif %}
        <br>
        <p><strong>Are you sure you want to delete {{ customer }}?</strong></p>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Delete">
        </form>
        <a href="{% url 'customers:detail' pk=customer.pk %}">Cancel</a>
    </div>
{% endblock body %}
