{% extends 'base.html' %}
{% load static %}

{% block title %}
    FM | Customer details
{% endblock title %}

{% block content-title %}
    Customer: <strong>{{ customer }}</strong>
{% endblock content-title %}

{% block content %}
    <div class="text-center">
        <a href="{% url 'customers:update' pk=customer.pk %}">Update</a> |
        <a href="{% url 'customers:delete' pk=customer.pk %}">Delete</a>
        <br>
    </div>

    <div>
        <p><strong>Name:</strong> {{ customer.name }}</p>
        <p><strong>Email:</strong> {{ customer.email }}</p>
        <p><strong>Phone:</strong> {{ customer.phone }}</p>
        <br>
        <p><strong>Company:</strong> {{ customer.company|default:"-" }}</p>
        <br>
        <p><strong>Town:</strong> {{ customer.town }}</p>
        <p><strong>Country:</strong> {{ customer.country }}</p>
        <p><strong>Address:</strong> {{ customer.address_first_line|default:"-" }}</p>
        <p><strong>Post Code:</strong> {{ customer.post_code|default:"-" }}</p>
        <br>
        <p><strong>Bank:</strong> {{ customer.bank|default:"-" }}</p>
        <p><strong>Sort Code:</strong> {{ customer.sort_code|default:"-" }}</p>
        <p><strong>Account no:</strong> {{ customer.account_no|default:"-" }}</p>
        <p><strong>IBAN:</strong> {{ customer.iban|default:"-" }}</p>
        <p><strong>Card no:</strong> {{ customer.card_no|default:"-" }}</p>
        <p><strong>Card Expiry Date:</strong> {{ customer.card_exp_date|default:"-" }}</p>
        <br>
        <p><strong>Notes:</strong> {{ customer.notes|default:"-" }}</p>
    </div>
{% endblock content %}
