{% extends 'base.html' %}
{% load static %}

{% block title %}
    FM | Customer details
{% endblock title %}

{% block content-title %}
    Customer: <strong>{{ customer }}</strong>
{% endblock content-title %}

{% block content %}
    <div class="row">
            <!-- First column -->
            <div class="col-md-6" style="border-right: solid 1px darkslategrey">
                <!-- Personal data -->
                <div class="row mb-2">
                    <div class="col-md-4"><small><em>Personal Data</em></small></div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-4"><strong>Name</strong></div>
                    <div class="col-md-8">
                        {{ customer.name|default:"-" }}
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-md-4"><strong>Email</strong></div>
                    <div class="col-md-8">
                        {{ customer.email|default:"-" }}
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-md-4"><strong>Phone</strong></div>
                    <div class="col-md-8">
                        {{ customer.phone|default:"-" }}
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-md-4"><strong>Company</strong></div>
                    <div class="col-md-8">
                        {{ customer.company|default:"-" }}
                    </div>
                </div>

                <!-- Address -->
                <div class="row mb-2">
                    <div class="col-md-4"><small><em>Address</em></small></div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-4"><strong>Town</strong></div>
                    <div class="col-md-8">
                        {{ customer.town|default:"-" }}
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-md-4"><strong>Country</strong></div>
                    <div class="col-md-8">
                        {{ customer.country|default:"-" }}
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-md-4"><strong>Address</strong></div>
                    <div class="col-md-8">
                        {{ customer.address_first_line|default:"-" }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4"><strong>Post Code</strong></div>
                    <div class="col-md-8">
                        {{ customer.post_code|default:"-" }}
                    </div>
                </div>
            </div>

            <!-- Second column -->
            <div class="col-md-6">
                <!-- Bank details -->
                <div class="row mb-2">
                    <div class="col-md-4"><small><em>Bank details</em></small></div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-4"><strong>Bank Name</strong></div>
                    <div class="col-md-8">
                        {{ customer.bank|default:"-" }}
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-md-4"><strong>Sort Code</strong></div>
                    <div class="col-md-8">
                        {{ customer.sort_code|default:"-" }}
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-md-4"><strong>Account Number</strong></div>
                    <div class="col-md-8">
                        {{ customer.account_no|default:"-" }}
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-md-4"><strong>IBAN</strong></div>
                    <div class="col-md-8">
                        {{ customer.iban|default:"-" }}
                    </div>
                </div>

                <!-- Card details -->
                <div class="row mb-2">
                    <div class="col-md-4"><small><em>Card details</em></small></div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-4"><strong>Card Number</strong></div>
                    <div class="col-md-8">
                        {{ customer.card_no|default:"-" }}
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-md-4"><strong>Card Expiry date</strong></div>
                    <div class="col-md-8">
                        {{ customer.card_exp_date|default:"-" }}
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-md-4"><small><em>Notes</em></small></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ customer.notes|default:"-" }}
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}

{% block content-bottom %}
    <div class="col-md-8">
        <a class="btn btn-sm btn-success" href="{% url 'customers:update' pk=customer.pk %}">Edit</a>
        <a class="btn btn-sm btn-danger" href="{% url 'customers:delete' pk=customer.pk %}">Delete</a>
        <button class="btn btn-sm btn-secondary" onClick="javascript:history.go(-1);">Back</button>
    </div>
{% endblock content-bottom %}
