{% extends 'base.html' %}
{% load static %}

{% block title %}
    FM | Update Customer
{% endblock title %}

{% block content-title %}
    Update Customer: <strong>{{ customer }}</strong>
{% endblock content-title %}

{% block content %}
    <div class="text-center">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Update">
            <a href="{% url 'customers:detail' pk=customer.pk %}">Cancel</a>
        </form>
    </div>
{% endblock content %}
