.container-danger-top {
    height: 40px;
    margin-bottom: 2px;
}

.container-body-top {
    height: 40px;
    margin-bottom: 5px;
}

.container-body {
    border-radius: 0.5rem;
    background-color: lightgreen;
}

.title {
    border-radius: 0 0.5rem 0 0;
    background: linear-gradient(90deg, #2F4F4F 0%, #2F4F4F 10%, #90EE90 50%, #2F4F4F 90%, #2F4F4F 100%);
    color: darkslategrey;
}

.content {
    padding: 1em;
    background-color: lightgreen;
}