.nav {
    border-radius: 0.5rem 0 0 0.5rem;
    background-color: darkslategrey;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
}

.nav .active {
    color: lightblue;
}

.nav a {
    font-size: 1em;
}

.nav hr {
    background-color: yellow;
    padding-left: 85%;
}
