.nav {
    border-radius: 0.5rem 0 0 0.5rem;
    background-color: #646464;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
}

.nav .active {
    color: cornflowerblue;
}

.nav a {
    font-size: 1em;
    color: #e5e5e5;
}

.nav a:hover {
    color: cornflowerblue;
    text-shadow: 0 0 1rem royalblue;
}

.nav > .dropdown-menu {
    background-color: #646464;
}

.nav > .dropdown-menu a:hover {
    color: cornflowerblue;
    background-color: #646464;
}