<div style="margin-top: 50px; text-align: center">
    <small>
        Thank you for using <a style="text-decoration:none" href="{{ website }}">Freelance manager</a>!
        <br>For feedback, suggestions or anything else
        please contact me at <a style="text-decoration:none" href="mailto:ionescuig@yahoo.com">ionescuig@yahoo.com</a>.
        <br>If you want to see more about my work,
        please visit my <a style="text-decoration:none" href="https://www.gabriel-ionescu.com">website</a>.
    </small>
</div>
