{% if user.is_authenticated %}
<nav class="nav flex-column">

    <a class="nav-link mb-3" href="{% url 'home' %}">Home</a>

    <a class="nav-link" href="{% url 'customers:list' %}">Customers</a>
    <a class="nav-link" href="{% url 'projects:list' %}">Projects</a>
    <a class="nav-link" href="{% url 'subscriptions:list' %}">Subscriptions</a>
    <a class="nav-link" href="{% url 'passwords:list' %}">Passwords</a>
    <a class="nav-link" href="{% url 'websites:list' %}">Websites</a>

    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        New
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="{% url 'customers:create' %}">New Customer</a>
        <a class="dropdown-item" href="{% url 'projects:create' %}">New Project</a>
        <a class="dropdown-item" href="{% url 'subscriptions:create' %}">New Subscription</a>
        <a class="dropdown-item" href="{% url 'passwords:create' %}">New Password</a>
        <a class="dropdown-item" href="{% url 'websites:create' %}">New Website</a>
    </div>

    <a class="nav-link mt-5" href="{% url 'logout' %}">Logout</a>
</nav>
{% endif %}
